@font-face {
   font-family: 'é+é-éGÅâ';
   font-display: swap;
   src: url('file:///C:/Users/Matt/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-08-14_094608/fonts/%C3%A9+%C3%A9-%C3%A9G%C3%85%C3%A2/font.ttf');
}
